body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EAEEEF ;
  color: #4F6C77;
}

a {
  color: #00B7FF;
}

input {
  height: 50px;
  font-size: 25px;
  margin: 20px;
  border: 3px solid #9EABB3;
  border-radius: 5px;
  color: #4F6C77;
  background-color: #F6E8DA ;
}

input:focus {
  outline: 3px solid #efd8d2;
}

input[type=submit]:focus  {     
  background-color:#efd8d2  ;    
}

.info {
  font-size: 15px;
}

.success {
  color: #11823b;
}

.fail {
  color: #d9592a;
}
